.about_text {
  display: flex; // Use Flexbox for inner layout
  flex-direction: column; // Arrange inner elements in a column (vertical)

  .txt-1,
  .txt-2 {
    flex: 1; // Distribute available space equally between txt-1 and txt-2
    padding: 20px;
  }
}