.about {
  margin-top: 100px;
}
.about_text {
  display: flex;
	align-items:center;
	justify-content:center;

p {
  margin: 15px;
}

}

@media only screen and (max-width: 600px) {
  .about_text {
    display: flex;
    flex-direction: column;
  }
}