.About {
  background-color: $background-color;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about_text {
  display: flex;
	align-items:center;
	justify-content:center;

p {
  margin: 15px;
}

}

@media only screen and (max-width: 600px) {
  .about_text {
    display: flex;
    flex-direction: column;
  }
}