.contact-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
}

.contact-links {
	display: flex;
	width: 16.666%;
	justify-content: center;
	padding: 30px;
    align-items: center;
   

	svg {
		width: 30px;
		height: 30px;
        margin-right: 5px;
	}
}

.contact-link-name {
	p {
		font-weight: bold;
		font-size: 14px;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.svg_item {
		display: flex;
		width: 25%;
		justify-content: center;
		padding: 15px;
	}

	.contact-links {
		
		svg {
			width: 25px;
			height: 25px;
			margin-right: 5px;
		}

		p {
			font-size: 12px;
		}
	}

}