/* Navbar container */

/* Container for logo and menu items */
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: $theme-color; /* Change to your preferred color */
  text-decoration: none;

  background: linear-gradient(to right, rgb(228 7 191), #cd5252 40%, #100bb8);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 4s linear infinite;
}
@keyframes gradient {
  0% {background-position: 0% 75%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 70%;}
}
/* Hamburger menu icon */
.menu-icon  {
  font-size: 1.5rem;
  color: $theme-color;
  display: none; /* Hidden by default for larger screens */
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.nav-links li {
  font-size: 1rem;
  font-weight: 300;

  a {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #100bb8 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: #100bb8;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }

}



/* Mobile menu styles */
.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px; /* Adjust as needed */
  left: 0;
  right: 0;
  background-color: rgba(6, 5, 102, 0.9); /* Adjust the background color as needed */
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-links.open li {
  margin: 15px 0;
  a {
    color: white;
    transition: color 0.3s ease;

    &:hover {
      color: red;
    }
  }
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Show hamburger menu icon */
  }

  .nav-links {
    display: none; /* Hide navigation links */
  }
}
