// Define your variables here
$primary-color: rgba(84, 58, 183, 1);
$secondary-color: rgba(0, 172, 193, 1);
$background-color: rgb(255 252 250);
$background-box:  0 4px 6px rgb(0 60 214 / 11%);
$text-color: black;
$link-color: black;
$link-hover-color: blue;
$theme-color : #100bb8;
